.version.downtown_design_croissant /* version checker */
{
	color: #0000FF;
	background-color: #87DAF1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1128px;
	min-height: 2904px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 60px;
	width: 0.01px;
}

#inicio
{
	left: -100px;
	position: relative;
}

#u2057
{
	z-index: 55;
	height: 92px;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u2057-bw
{
	z-index: 55;
}

#u2066
{
	z-index: 76;
	overflow: hidden;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -579px;
}

#buttonu2060
{
	z-index: 61;
	width: 142px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -47px;
}

#buttonu2060:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px 0px 0px -47px;
}

#buttonu2060.ButtonSelected
{
	width: 142px;
	min-height: 0px;
	margin: 0px 0px 0px -47px;
}

#u2061
{
	z-index: 63;
	height: 18px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 11px;
	background: url("../images/u2061.png") no-repeat 0px 0px;
}

#buttonu2060:hover #u2061
{
	background: url("../images/u2061-r.png") no-repeat 0px 0px;
}

#buttonu2060.ButtonSelected #u2061
{
	background: url("../images/u2061-a.png") no-repeat 0px 0px;
}

#buttonu2064
{
	z-index: 71;
	width: 142px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 113px;
}

#buttonu2064:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px 0px 0px 113px;
}

#buttonu2064.ButtonSelected
{
	width: 142px;
	min-height: 0px;
	margin: 0px 0px 0px 113px;
}

#u2065
{
	z-index: 73;
	height: 18px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 11px;
	background: url("../images/u2065.png") no-repeat 0px 0px;
}

#buttonu2064:hover #u2065
{
	background: url("../images/u2065-r.png") no-repeat 0px 0px;
}

#buttonu2064.ButtonSelected #u2065
{
	background: url("../images/u2065-a.png") no-repeat 0px 0px;
}

#buttonu2058
{
	z-index: 56;
	width: 142px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 8px;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 274px;
}

#buttonu2058:hover
{
	border-style: none;
	border-color: transparent;
	width: 142px;
	min-height: 0px;
	margin: 0px 0px 0px 274px;
}

#buttonu2058.ButtonSelected
{
	border-color: #787878;
	width: 142px;
	min-height: 0px;
	margin: 0px 0px 0px 274px;
}

#u2059
{
	z-index: 58;
	height: 18px;
	width: 125px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 11px;
	background: url("../images/u2059.png") no-repeat 0px 0px;
}

#buttonu2058:hover #u2059
{
	background: url("../images/u2059-r.png") no-repeat 0px 0px;
}

#buttonu2058.ButtonSelected #u2059
{
	background: url("../images/u2059-a.png") no-repeat 0px 0px;
}

#buttonu2062
{
	z-index: 66;
	width: 142px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 434px;
}

#buttonu2062:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px 0px 0px 434px;
}

#buttonu2062.ButtonSelected
{
	width: 142px;
	min-height: 0px;
	margin: 0px 0px 0px 434px;
}

#u2063
{
	z-index: 68;
	height: 18px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 10px;
	background: url("../images/u2063.png") no-repeat 0px 0px;
}

#buttonu2062:hover #u2063
{
	background: url("../images/u2063-r.png") no-repeat 0px 0px;
}

#buttonu2062.ButtonSelected #u2063
{
	background: url("../images/u2063-a.png") no-repeat 0px 0px;
}

#u2123
{
	z-index: 10;
	height: 435px;
	background: transparent url("../images/webcroissant.jpg") no-repeat center center;
	background-size: cover;
}

#u2123-bw
{
	z-index: 10;
	margin-top: 75px;
	height: 435px;
}

#u2137
{
	z-index: 2;
	min-height: 295px;
	background-color: #7E5A6C;
	padding-bottom: 53px;
}

#u2137_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1128px;
	position: relative;
	left: -100px;
}

#pu2096
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 100px;
	margin-left: 100px;
}

#u2096
{
	z-index: 8;
	width: 243px;
	background-color: transparent;
	position: relative;
}

#u2133-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	margin-left: 43px;
	margin-top: 5px;
	position: relative;
}

#u2130-4
{
	z-index: 11;
	width: 27px;
	min-height: 27px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 353px;
}

#pu2085
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 100px;
	margin-left: 382px;
}

#u2085
{
	z-index: 4;
	width: 208px;
	background-color: transparent;
	position: relative;
}

#u2135-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	margin-top: 5px;
	position: relative;
}

#u2131-4
{
	z-index: 29;
	width: 27px;
	min-height: 27px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 602px;
}

#pu2091
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 100px;
	margin-left: 629px;
}

#u2091
{
	z-index: 6;
	width: 246px;
	background-color: transparent;
	position: relative;
}

#u2136-6
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-left: 48px;
	margin-top: 2px;
	position: relative;
}

#u2132-4
{
	z-index: 33;
	width: 27px;
	min-height: 27px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 902px;
}

#u2143
{
	z-index: 37;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 959px;
}

#u2137-bw
{
	z-index: 2;
	min-height: 295px;
}

#pu2148
{
	width: 0.01px;
	margin-top: 62px;
}

#u2148
{
	z-index: 38;
	position: relative;
	margin-right: -10000px;
}

#u2153
{
	z-index: 39;
	position: relative;
	margin-right: -10000px;
	left: 641px;
}

#u2158
{
	z-index: 40;
	margin-left: 431px;
	margin-top: 63px;
	position: relative;
}

#pu2289
{
	width: 0.01px;
	margin-top: 34px;
}

#u2289
{
	z-index: 53;
	width: 564px;
	height: 494px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/web1.jpg") no-repeat center center;
	background-size: cover;
}

#u2298
{
	z-index: 54;
	width: 564px;
	height: 494px;
	position: relative;
	margin-right: -10000px;
	left: 564px;
	background: transparent url("../images/web2.jpg") no-repeat center center;
	background-size: cover;
}

#pu2169
{
	width: 0.01px;
}

#u2169
{
	z-index: 43;
	width: 582px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 546px;
}

#u2174
{
	z-index: 45;
	width: 564px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2163
{
	z-index: 41;
	width: 1131px;
	background-color: transparent;
	position: relative;
}

#pbuttonu2181
{
	width: 0.01px;
	margin-left: 488px;
	margin-top: 32px;
}

#buttonu2181
{
	z-index: 48;
	width: 151px;
	height: 46px;
	border-color: #787878;
	background-color: #C73B54;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 1px;
}

#pbuttonu2181:hover #buttonu2181
{
	width: 148px;
	height: 43px;
	border-width: 3px;
	border-style: solid;
	border-color: #C73B54;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u2182
{
	z-index: 50;
	height: 23px;
	width: 119px;
	vertical-align: top;
	background: url("../images/u2182.png") no-repeat 0px 0px;
}

#pbuttonu2181:hover #u2182
{
	position: relative;
	width: 119px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 15px;
	background: url("../images/u2182-r.png") no-repeat 0px 0px;
}

#pbuttonu2181 #u2182
{
	position: relative;
	width: 119px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 17px;
}

body
{
	position: relative;
	min-width: 1128px;
}

#page .verticalspacer
{
	clear: both;
}

